<div class="contact pt-4 pb-5 text-center">
  <h2 class="text-uppercase mb-3 fs-1 fw-bolder text-center">
    PORTFOLIO COMPONENT
  </h2>
  <div class="star position-relative mx-auto">
    <i class="fa-solid fa-star"></i>
  </div>
  <div class="container row g-5 mx-auto py-4">
    <div class="col-md-4">
      <div class="position-relative rounded-3 overflow-hidden">
        <img src="../assets/images/poert1.png" class="w-100" alt="" />
        <div
          class="overlay d-flex justify-content-center align-items-center"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal1"
        >
          <i class="text-white fa-solid fa-plus fa-6x"></i>
        </div>

        <div
          class="modal fade bg-primary bg-opacity-25"
          id="exampleModal1"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div
            class="modal-dialog d-flex justify-content-center align-items-center min-vh-100"
          >
            <div class="modal-body">
              <img src="../assets/images/poert1.png" class="w-100" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="position-relative rounded-3 overflow-hidden">
        <img src="../assets/images/port2.png" class="w-100" alt="" />
        <div
          class="overlay d-flex justify-content-center align-items-center"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal2"
        >
          <i class="text-white fa-solid fa-plus fa-6x"></i>
        </div>

        <div
          class="modal fade bg-primary bg-opacity-25"
          id="exampleModal2"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div
            class="modal-dialog d-flex justify-content-center align-items-center min-vh-100"
          >
            <div class="modal-body">
              <img src="../assets/images/port2.png" class="w-100" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="position-relative rounded-3 overflow-hidden">
        <img src="../assets/images/port3.png" class="w-100" alt="" />
        <div
          class="overlay d-flex justify-content-center align-items-center"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal3"
        >
          <i class="text-white fa-solid fa-plus fa-6x"></i>
        </div>

        <div
          class="modal fade bg-primary bg-opacity-25"
          id="exampleModal3"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div
            class="modal-dialog d-flex justify-content-center align-items-center min-vh-100"
          >
            <div class="modal-body">
              <img src="../assets/images/port3.png" class="w-100" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="position-relative rounded-3 overflow-hidden">
        <img src="../assets/images/poert1.png" class="w-100" alt="" />
        <div
          class="overlay d-flex justify-content-center align-items-center"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal4"
        >
          <i class="text-white fa-solid fa-plus fa-6x"></i>
        </div>

        <div
          class="modal fade bg-primary bg-opacity-25"
          id="exampleModal4"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div
            class="modal-dialog d-flex justify-content-center align-items-center min-vh-100"
          >
            <div class="modal-body">
              <img src="../assets/images/poert1.png" class="w-100" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="position-relative rounded-3 overflow-hidden">
        <img src="../assets/images/port2.png" class="w-100" alt="" />
        <div
          class="overlay d-flex justify-content-center align-items-center"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal5"
        >
          <i class="text-white fa-solid fa-plus fa-6x"></i>
        </div>

        <div
          class="modal fade bg-primary bg-opacity-25"
          id="exampleModal5"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div
            class="modal-dialog d-flex justify-content-center align-items-center min-vh-100"
          >
            <div class="modal-body">
              <img src="../assets/images/port2.png" class="w-100" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="position-relative rounded-3 overflow-hidden">
        <img src="../assets/images/port3.png" class="w-100" alt="" />
        <div
          class="overlay d-flex justify-content-center align-items-center"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal6"
        >
          <i class="text-white fa-solid fa-plus fa-6x"></i>
        </div>

        <div
          class="modal fade bg-primary bg-opacity-25"
          id="exampleModal6"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div
            class="modal-dialog d-flex justify-content-center align-items-center min-vh-100"
          >
            <div class="modal-body">
              <img src="../assets/images/port3.png" class="w-100" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
