<div
  class="home d-flex justify-content-center align-items-center text-white py-5"
>
  <div class="text-center">
    <img
      src="https://routeegy.github.io/startFramework/assets/images/avataaars.svg"
      alt=""
      class="mb-3 w-75"
    />
    <h2 class="text-uppercase mb-3 fs-1 fw-bolder">START FRAMEWORK</h2>
    <div class="star position-relative mx-auto">
      <i class="fa-solid fa-star"></i>
    </div>
    <p class="py-3">Graphic Artist - Web Designer - Illustrator</p>
  </div>
</div>
